<title>kala</title>
<h3>kala - ephemeral message board</h3>

<form action="" method="post">
<p>your message: <input type="text" name="message" id="messageField"> <input type="submit" value="send"></p>
</form>

{% for _ in get_flashed_messages() %}
<p style='color: #bc5151;'>{{ _ }}</p>
{% endfor %}

<hr style='height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);' />
<p>message log (newest at top):</p>
{% for message in messages %}
<p style='color: gray;'>{{ message['chatter']  }} @ {{ message['time'] }} &raquo; <span style='color: black;'> {{ message['content'] }}</span></p>
{% endfor %}

<script>
document.getElementById("messageField").focus();
</script>
